<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorngaru.konggaru.mapper.DashboardMapper">

    <select id="allIncome" resultType="Income">
        select to_char(month,'YYYY-MM') as month ,income from income
    </select>
    <select id="thisMonth" resultType="int">
        select SUM(total_price) from orders
        where created_at between to_date('2021-05-01','YYYY-MM-DD')
                  and to_date('2021-05-31','YYYY-MM-DD')
    </select>

    <update id="updateMonthlyIncome" parameterType="Income">
        UPDATE income
        SET
            income = #{income}
        WHERE
            month = to_date(#{month},'MM')
    </update>
    <select id="getRank" resultType="Rank">
        select a.quan , product.name ,product.image_url
        from(
                select count(*) quan, product.id
                from order_detail
                         join product
                              on product.id = order_detail.product_id
                group by product.id
            ) a
                join product on a.id = product.id
        order by quan
    </select>
</mapper>