<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorngaru.konggaru.mapper.EmployeeMapper">

    <select id="printAllList" resultType="Employee">
		select * from employee
		order by role
	</select>

    <update id="updateEmp" parameterType="Employee">
		up
		date employee
		set name=#{name},role=#{role},
		salary=#{salary},hiredate=#{hiredate},phone=#{phone}
		where id=#{id}
	</update>

    <insert id="addEmp" parameterType="Employee">
		insert into employee
		VALUES(#{id}, #{name}, #{phone}, #{role}, #{salary}, #{hiredate},
		#{resignation}, #{work_time})
	</insert>

    <select id="searchEmp" parameterType="hashmap" resultType="Employee">
		select * from (
		SELECT ROW_NUMBER() OVER (ORDER BY role ASC, id ASC) NUM, A.*
		FROM  employee A
		WHERE name LIKE '%' || #{name} || '%'
		ORDER BY role, id ASC
		)
		where NUM BETWEEN #{first} and #{last}
	</select>

    <select id="countItemsByName" parameterType="String" resultType="int">
		SELECT count (*)
		FROM employee
		where name LIKE '%' || #{name} || '%'
	</select>

      <select id="searchId" resultType="Employee"  parameterType="String">
		select * from employee where id=#{clockId}
	</select>

    <insert id="addClock" parameterType="map">
		insert into rollbook(id,name,clockin,clockout,worktime)
		values(#{Id},#{Name},#{clockin},#{clockout},#{workTime})
	</insert>

    <select id="RollBookCountItemsByName" parameterType="String"
            resultType="int">
		SELECT count(*)
		FROM RollBook
		where name LIKE '%' || #{name}
		|| '%'
	</select>

    <select id="searchRollBook" parameterType="hashmap" resultType="Rollbook">
		select * from (
		SELECT ROW_NUMBER() OVER (ORDER BY clockin DESC) NUM, A.*
		FROM rollBook A
		WHERE name LIKE '%' || #{name} || '%'
		ORDER BY clockin DESC
		)
		where NUM BETWEEN #{first} and #{last}
	</select>

    <select id="searchSumWorkTime" parameterType="hashmap" resultType="int">
		select sum(worktime) from rollbook
		where id=#{id}
		GROUP by id
	</select>

    <update id="updateWorkTime" parameterType="hashmap">
		UPDATE employee set work_time=#{work_time} where id=#{id}
	</update>

    <select id="RollBookCountItemsByNameInTime" parameterType="String"
            resultType="int">
		SELECT count(*)
		FROM RollBook
		where clockin LIKE '%' || #{name}
		|| '%'
	</select>

    <select id="searchRollBookInTime" parameterType="hashmap"
            resultType="Rollbook">
		select * from (
		SELECT ROW_NUMBER() OVER (ORDER BY clockin DESC) NUM, A.*
		FROM rollBook A
		WHERE clockin LIKE '%' || #{name} || '%'
		ORDER BY clockin DESC
		)
		where NUM BETWEEN #{first} and #{last}
	</select>

    <select id="RollBookCountItemsByNameoutTime" parameterType="String"
            resultType="int">
		SELECT count(*)
		FROM RollBook
		where clockout LIKE '%' || #{name}
		|| '%'
	</select>

    <select id="searchRollBookoutTime" parameterType="hashmap"
            resultType="Rollbook">
		select * from (
		SELECT ROW_NUMBER() OVER (ORDER BY clockout DESC) NUM, A.*
		FROM rollBook A
		WHERE clockout LIKE '%' || #{name} || '%'
		ORDER BY clockout DESC
		)
		where NUM BETWEEN #{first} and #{last}
	</select>
	
	<insert id="addInTime" parameterType="hashmap">
		insert into rollbook(id,name,clockin)
		values(#{id},#{name},#{clockin}) 
	</insert>
	
	<select id="searchInTime" parameterType="String" resultType="String">
		select clockin from rollBook where id=#{id} and clockout is null
	</select>

 	<update id="updateOutTime" parameterType="hashmap">
		update rollbook 
		set workTime=#{workTime} , clockout=#{clockout}
		where id=#{id} and clockout is null
	</update> 
	
	<select id="checkintime" parameterType="String" resultType="int">
		select count(*) from rollBook where id=#{id} and clockOut is null
	</select>
	
	<select id="idCheck" parameterType="String" resultType="int">
		select count(*) from employee where id=#{id}
	</select>
</mapper>