<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorngaru.konggaru.mapper.EmployeeMapper">

    <select id="printAllList" resultType="Employee">
		select * from employee
		order by role
	</select>

    <update id="updateEmp" parameterType="Employee">
		update employee
		set name=#{name},role=#{role},
		salary=#{salary},hiredate=#{hiredate},phone=#{phone}
		where id=#{id}
	</update>

    <insert id="addEmp" parameterType="Employee">
		insert into employee
		VALUES(#{id}, #{name}, #{passwd}, #{auth}, #{phone},
		       #{role}, #{salary}, #{hiredate},#{resignation}, #{work_time})
	</insert>

    <select id="searchEmp" parameterType="hashmap" resultType="Employee">
		select * from (
		SELECT ROW_NUMBER() OVER (ORDER BY role ASC, id ASC) NUM, A.*
		FROM  employee A
		WHERE name LIKE '%' || #{name} || '%'
		ORDER BY role, id ASC
		)
		where NUM BETWEEN #{first} and #{last}
	</select>

    <select id="countItemsByName" parameterType="String" resultType="int">
		SELECT count (*)
		FROM employee
		where name LIKE '%' || #{name} || '%'
	</select>

</mapper>