<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorngaru.konggaru.mapper.IngredientMapper">

    <select id="searchIngredient" resultType="Ingredient">
        select * from (
                          SELECT ROW_NUMBER() OVER (ORDER BY  id ASC) NUM, A.*
                          FROM  ingredient A
                          WHERE name LIKE '%' || #{name} || '%'
                          ORDER BY id ASC
                      )
        where NUM BETWEEN #{first} and #{last}
    </select>

    <select id="countIngredientByName" parameterType="String" resultType="int">
        select count (*)
        from ingredient
        where name LIKE '%'|| #{name} || '%'
    </select>

    <select id="allIngredient" resultType="Ingredient">
        select * from ingredient order by id
    </select>


    <delete id="ingredientDel" parameterType="int">
        {call
            declare
            begin
                delete
                from used_ingredient
                where ingredient_id = #{num};

                delete
                from Ingredient
                where id = #{num};
            end
        }
    </delete>

    <update id="updateIngredient" parameterType="Ingredient">
        update ingredient
        set name = #{name} , quantity = #{quantity}, price=#{price},
            unit = #{unit}, partner =#{partner}
        where id =#{id}
    </update>

    <insert id="create" parameterType="Ingredient">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select ingredient_seq.nextval from dual
        </selectKey>
        insert into ingredient (id,name,quantity,price ,unit,partner)
        values (#{id},#{name},#{quantity},#{price},#{unit},#{partner})
    </insert>

    <delete id="ingredientDelAll" parameterType="arraylist">
        {call
            declare
            begin
                delete from used_ingredient where ingredient_id in
                <foreach item="item" index="index" collection="list" open="(" separator="," close=");">
                    #{item}
                </foreach>

                delete from Ingredient where id in
                <foreach item="item" index="index" collection="list" open="(" separator="," close=");">
                    #{item}
                </foreach>
            end
        }
    </delete>




</mapper>